<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h3>Input Data <%= title %></h3>
      <a href="/index" class="waves-effect waves-light btn right" style="width: 8%"><i class="material-icons">home</i></a>
      <a href="/driver" class="waves-effect waves-light btn">Data Driver</a>
      <a href="/tarif" class="waves-effect waves-light btn">Data Tarif</a>
      <a href="/transportasi" class="waves-effect waves-light btn"
        >Data Transportasi</a
      >
      <br /><br /><br />
      <!-- <h3>Data Tarif</h3> -->
      <table>
        <thead>
          <tr>
            <th>No</th>
            <!-- <th>ID</th> -->
            <th>Lokasi Awal</th>
            <th>Lokasi Tujuan</th>
            <th>Jarak</th>
            <th>Tarif Tunai</th>
            <th>Tarif Non Tunai</th>
            <th>ID Trans</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0;i<data_tarif.length;i++) { %>
          <tr>
            <td><%= [i+1] %></td>
            <!-- <td><%= data_tarif[i].id_data_tarif %></td> -->
            <td><%= data_tarif[i].lokasi_awal %></td>
            <td><%= data_tarif[i].lokasi_tujuan %></td>
            <td><%= data_tarif[i].jarak %></td>
            <td><%= data_tarif[i].tarif_tunai %></td>
            <td><%= data_tarif[i].tarif_nontunai %></td>
            <td><%= data_tarif[i].nama_transportasi %></td>
            <td>                
              <a href="/tarif/hapus/<%= data_tarif[i].id_data_tarif %>" class="waves-effect waves-light btn">Delete</a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <br />
      <a class="waves-effect waves-light btn modal-trigger" href="#modal2"
      >Tambah</a
    >      <!-- Modal Structure -->
      <div id="modal2" class="modal" style="width: 30%">
          <div class="modal-content">
            <h4>Tambah Data <%= title %></h4>
            <br /><br />
            <div class="row">
              <form method="POST" action="/tarif">
                  <div class="input-field col s12">
                    <input name="lokasi_awal" id="lokasi_awal" type="text" class="validate" />
                    <label for="lokasi_awal">Lokasi Awal</label>
                  </div>
                  <div class="input-field col s12">
                    <input name="lokasi_tujuan" id="lokasi_tujuan" type="text" class="validate" />
                    <label for="lokasi_tujuan">Lokasi Tujuan</label>
                  </div>
                  <div class="input-field col s12">
                    <input name="jarak" id="jarak" type="text" class="validate" />
                    <label for="jarak">Jarak</label>
                  </div>
                  <div class="input-field col s12">
                    <input name="tarif_tunai" id="rating_aplikasi" type="text" class="validate" />
                    <label for="tarif_tunai">Tarif Tunai</label>
                  </div>
                  <div class="input-field col s12">
                    <input name="tarif_nontunai" id="tarif_nontunai" type="text" class="validate" />
                    <label for="tarif_nontunai">Tarif Nontunai</label>
                  </div>
                  <div class="input-field col s12">
                    <select name="id_transportasi">
                      <option value="" disabled selected>Pilih Transportasi</option>
                      <% data_trans.forEach(function(data, q){ %> 
                      <option value="<%= data.id_transportasi %>"><%= data.nama %></option>
                      <% }) %>
                    </select>
                    <label>Menu Pilihan</label>
                  </div>
                  <div class="modal-footer">
                    <input class="modal-close waves-effect waves-green btn" type="submit" value="send"
                      >
                  </div>
              </form>
            </div>
          </div>
        </div>
        <script>
            $(document).ready(function() {
              $(".modal").modal();
            });
            $(document).ready(function(){
              $('select').formSelect();
            });
          </script>
    </div>
  </body>
</html>
